{% extends 'base.html' %}

{% block content %}
{% include 'pageheader.html' %}
      <div class="content">
        {{ page.content | safe }}

        <p class="subtitle"><strong>{{ page.date }}</strong></p>
        <p>See the <a href="/about">About</a> page to find us on IRC and discuss this document with us.</p>
      </div>

{% endblock content %}
